.page-about .about{
    border-bottom: 3px solid var(--color-blueberry);
}

.page-contacts .contacts{
    border-bottom: 3px solid var(--color-blueberry);
}

.page-cuisines .cuisines{
    border-bottom: 3px solid var(--color-blueberry);
}

.page-recipes .recipes{
    border-bottom: 3px solid var(--color-blueberry);
}
