:root {
    --color-header: rgba(173, 161, 147, 0.3);
    --color-footer: rgb(230, 227, 222);
    --color-blueberry: rgb(67, 79, 111);
    --dark-grey: rgb(85, 73, 56);
    --darker-grey: rgb(54, 47, 36);
    --medium-grey: rgba(87, 79, 71, 0.3);
  }